/.idea
/logs
/app_conf.php
/webcrm/cache
/webdrp/cache
/webfms/cache
/webo2o/cache
/webopm/cache
/webprm/cache
/webrpt/cache
/websdm/cache
/webfx/cache
/webcrm/data
/webdrp/data
/webfms/data
/webo2o/data
/webopm/data
/webprm/data
/webrpt/data
/websdm/data
/webcrm/logs
/webdrp/logs
/webfms/logs
/webo2o/logs
/webopm/logs
/webprm/logs
/webrpt/logs
/websdm/logs
/webfx/logs
/nbproject/private
/config/database.php
